[package]
name = "cargo-rls-install"
version = "1.0.28"
authors = ["s4i"]
edition = "2018"
license = "MIT"
description = "Rust Language Server easy install."
homepage = "https://crates.io/crates/cargo-rls-install"
repository = "https://github.com/s4i/cargo-rls-install"
readme = "README.md"

keywords = [
    "cli",
    "cargo",
    "cargo-subcommand",
    "rust-language-server",
    "install-rls-instead",
]

include = [
    "/Cargo.toml",
    "/latest.txt",
    "/LICENSE",
    "/README.md",
    "/RELEASE.md",
    "/src/*.rs",
]

[dependencies]
regex = "1.1.6"
reqwest = "0.9.17"
select = "0.4.2"
lazy_static = "1.3.0"
structopt = { version = "0.2", default-features = false }
failure = "0.1.5"
chrono = "0.4.6"
dirs = "1.0.5"

[lib]
name = "cargo_rls_install"
path = "src/lib.rs"

[[bin]]
name = "cargo-rls-install"
path = "src/main.rs"
test = false
doc = false

[badges.travis-ci]
repository = "s4i/cargo-rls-install"
branch = "master"

[badges.appveyor]
service = "github"
repository = "s4i/cargo-rls-install"
branch = "master"
